{% macro langElement(name, value='') -%}
    <div class="pt-2">
        <p>{{ name }}</p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
{%- endmacro %}

<h2 class="text-3xl font-bold pt-5" id="aboutme">About me</h2>
<div class="flex justify-center pt-2">
    <img src="static/img/me.jpg" class="rounded-full w-1/2 h-1/2 lg:hidden" alt="A photo of Alfonso Amaya"/>
</div>
<p class="pt-2 text-justify">Hello! I'm Alfonso Amaya and I'm a <kbd>web developer</kbd> and <kbd>electrical and electronics student</kbd> based in Mexico City. Welcome to my portfolio!</p>
    <!-- <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Programming languages
                    </h5>
                    <div class="flex flex-column gap-5">
                        {{ langElement('HTML','100') }}
                        {{ langElement('CSS','100') }}
                        {{ langElement('Typescript','80') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-auto col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Skills</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Team player</li>
                        <li class="list-group-item">Reliable</li>
                        <li class="list-group-item">Responsible</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
</div>