<article>
    <h2 class="text-3xl font-bold pt-5" id="timeline">Timeline</h2>
    <div>
        <div>
            <h5 id="posts-container-title" class="text-lg pt-5">Submit a new post!</h5> <!-- do not delete -->
            <form id="submit-post"> <!-- do not delete -->
                <label class="relative block mt-3">
                    <span class="sr-only">name</span>
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                        </svg>
                    </span>
                    <input required class="placeholder:text-slate-400 block bg-white w-full  border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Your name" aria-label="name" aria-describedby="name" type="text" name="name"/>
                </label>
                <label class="relative block my-3">
                    <span class="sr-only">email</span>
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                      </svg>
                    </span>
                    <input required class="placeholder:text-slate-400 block bg-white w-full  border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Your email" aria-label="email" aria-describedby="email" type="text" name="email"/>
                </label>
                <label class="relative block mb-3">
                    <span class="sr-only">content</span>
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg>
                    </span>
                    <textarea required spellcheck="true" class="placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm resize-none" placeholder="What's in your mind?" aria-label="Content" aria-describedby="pen-icon" name="content"></textarea>
                </label>
                <div class="flex justify-end">
                    <button type="submit" class="rounded-full px-4 py-1 bg-sky-500 hover:bg-sky-600 active:bg-sky-700 focus:outline-none focus:ring focus:ring-sky-300 text-white">Post</button>
                </div>
            </form>
        </div>
    </div>
    <div class="my-4 row justify-content-center" >
        <div class="col-sm col-md-6">
            <h5 class="text-lg">Recent posts</h5>
            <div id="posts-container" class="mt-3"></div> <!-- do not delete -->
        </div>
    </div>
</article>

<script text="javascript">
    const form = document.getElementById('submit-post');
    const postsContainer = document.getElementById('posts-container');
    const postsContainerTitle = document.getElementById('posts-container-title');
    const apiEndpoint = '/api/timeline_post'; 

    const sendData = async () => {
        const data = new URLSearchParams();
        for (const pair of new FormData(form)) {
            data.append(pair[0], pair[1])
        }

        const response = fetch(`${apiEndpoint}/add`, {
            method: 'post',
            body: data
        }).then(() => {
            getPosts();
            form.name.value = "";
            form.email.value = "";
            form.content.value = "";
        }).catch((error) => {
            alert('Uhh, we got a problem')
        })
    }

    const getPosts = async () => {
        fetch(apiEndpoint)
        .then(res => res.json())
        .then(data => {
            const timelinePosts = data.timeline_posts;
            if(postsContainer.innerHTML !== '')
                    postsContainer.innerHTML = '';
            for(post of timelinePosts){                
                postsContainer.innerHTML += createCard(post.name, post.email, post.content, post.created_at, post.id)
            }
        })
        .catch((err) => {
            console.log('uhh we got an error');
        })
    }

    const deletePost = (id) => {
        const post = new URLSearchParams();
        post.append('id', id);
        fetch(apiEndpoint, {
            body: post,
            method: 'delete'
        }).then(() => {
            getPosts();
        }).catch(() => {
            alert('Upss, something went wrong...')
        })
    }

    const createCard = (name, email, content, created_at = '', id) => {
        created_at = created_at !== '' ? created_at : Date.now()
        return (
            `           
                <div class="bg-white shadow-md rounded-xl mb-3 px-6 py-2" id=${id}>
                    <div class="card-body">
                        <div class="flex flex-column gap-1 items-center font-bold">
                            <h5 class="mb-0">${name}</h5>
                            <small class="block">&lt;${email}&gt;</small>
                        </div>
                        <p class="py-4 px-4 my-3 bg-slate-100 rounded-lg">${content}.</p>
                        <div class="flex justify-between content-center">
                            <p class="card-text" style="min-width: 80%; font-size:16px"><small >Posted ${created_at}</small></p> 
                        </div>
                    </div>
                </div>
            `
        );
    }

    
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        sendData();
    })

    onload = async () => {
        await getPosts();
    }
</script>
